/* nav bar */
/*.main-nav {
  margin-top: 30px;
  
}

.nav-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  height: 70px;
}

.nav-part-right {
  display: flex;
}*/


