/* nav bar */
/*.main-nav {
  margin-top: 30px;
  
}

.nav-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  height: 70px;
}

.nav-part-right {
  display: flex;
}*/



/* header */



/*.header-part-left {
  padding-top: 6px;
  color: gray;
  font-size: 11px;
  margin-left: 5px;
  
}

.header-part-right {
  display: flex;
}

.searchtext
{
  height: 20px;
  background-color: gray;
  color: white;
}

.searchbutton {
  height: 20px;
  background-color: gray;
  color: white;
  padding: 0px;
  margin: 0px;
}

.searchtext-placeholder
{
  color: white;
}

.vl {
  border-left: 1px solid gray;
  height: 20px;
  margin: 5px;
}*/

