<header class="header-main container-fluid">
  <div class="row-style">
    <div class="col-1 col header-left-part">
      <span>TRANSILIEN.COM EST UN SITE DE </span>
      <img src="../../assets/logo-header.png" />
    </div>

    <div class="col-2 col">
      <div class="header-right-part">
        <form class=" navbar-form" role="search">
          <div class="input-group search-control">
            <input type="text" class="form-control searchtext" placeholder="rechercher" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default searchbutton" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>

        <div class="left-items">
          <div class="header-separator"></div>

          <div class="FAQ-style">FAQ</div>

          <div class="header-separator"></div>

          <div class="dropdown search-dropdown">
            <img src="../../assets/fr_flag_small.png" />
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Français<span class="caret"></span></a>
            <div class="dropdown-menu menu-language" aria-labelledby="navbarDropdown">
              <img src="../../assets/fr_flag_small.png" />
              <a class="dropdown-item" href="#">Français</a>
              <div class="menu-separator"></div>
              <img src="../../assets/en_flag_small.png" />
              <a class="dropdown-item" href="#">Anglais</a>
              <div class="menu-separator"></div>
              <img src="../../assets/es_flag_small.png" />
              <a class="dropdown-item" href="#">Espagnol</a>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</header>
